.info_moreBtn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: 13px;
  color: var(--orange-yellow-crayola);
  background: var(--border-gradient-onyx);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}

.info_moreBtn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--bg-gradient-jet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_moreBtn:hover,
.info_moreBtn:focus {
  background: var(--bg-gradient-yellow-1);
}

.info_moreBtn:hover::before,
.info_moreBtn:focus::before {
  background: var(--bg-gradient-yellow-2);
}

.info_moreBtn span {
  display: none;
}

.sidebarInfoMore {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebarInfoMore {
  opacity: 1;
  visibility: visible;
}
