.socialItem .socialLink {
  color: var(--light-gray-70);
  font-size: 18px;
}

.socialItem .socialLink:hover {
  color: var(--light-gray);
}
.socialLinkBox {
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
}
